@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: url('../images/bg5.jpg');
    background-size: cover;
}

.nav{
    overflow: hidden;
    background-color: rgb(222, 216, 207);
    line-height: 160%;
}
  
.nav a{
    float: left;
    display: block;
    color: rgb(14, 13, 13);
    text-align: center;
    background-color: #c0c0c0;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 0;
}
  
.nav a:hover{
    color: rgb(49, 39, 183);
}
  
.nav a.active{
    background-color: #1d4881;
    color : rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 19px;
    padding-right: 19px;
}

.nav a.active:hover{
    background-color: #9bc1da;
    color : rgb(0, 0, 0);
}

.wrapper{
    text-align: center;
    border:3px solid rgb(17, 17, 17);
    background-color: #ffffff;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(24, 19, 2, 0.25);
}
.wrapper h1{
    font-size: 20px;
    
}

.converter-inputs{
    margin: 40px 0 20px 0;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    gap: 15px;
}

.converter-inputs label{
    color: #5d7079;
    margin-bottom: 0.5rem;
    display: block;
}

.converter-inputs input, .converter-inputs select{
    border: 1px solid #c6c7c9;
    border-radius: 4px;
    font-size: 14.5px;
    padding: 0.8rem;
    outline: 0;
    width: 100%;
}

.icon img{
    margin: 40px 0 20px 0px;
    width: 40px;
}

.result-wrapper{
    font-size: 18px;
}

.wrapper #from-result{
    color: #1c7882;
    font-weight: bold;
}

.wrapper #to-result{
    color: #3b04ff;
    font-weight: bold;
}
.wrapper #convert-btn{
    background-color:  #1d4881;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.8rem 1.4rem;
    margin-top: 1.6rem;
    cursor: pointer;
}